<!DOCTYPE html>
<html lang="en">
  
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
box-sizing: border-box;
}
</style>
</head>

<body style="background-color: whitesmoke">
<div class="dropdown">
  <img class="imagenDropDown" src="/assets/chang.jpg">
  <div class="dropdown-content">
    <div class="sidenav">
      <img src="/assets/chang.jpg" class="imagenPerfil" alt= "image" >
      <a href="#">Perfil</a>
      <a href="#">Ajustes</a>
      <a href="#">Amigos</a>
      <a href="#">Usuarios conectados.</a>
      <div class="usuarioConectado" >
        <img src="/assets/chang.jpg" class="imagenConectado" alt= "Foto Conectado" >
      </div>
      <div class="usuarioConectado" >
        <img src="/assets/chang.jpg" class="imagenConectado" alt= "Foto Conectado" >
      </div>
      <div class="usuarioConectado" >
        <img src="/assets/chang.jpg" class="imagenConectado" alt= "Foto Conectado" >
      </div>
      <div class="red-bar"></div>
    </div>
  </div>
  </div>

<h2 style="position: absolute;top: 2% ;left: 50% ;transform: translate(-50% , -50% );">Unired</h2>

<!-- PAGINA AMIGOS NUEVO-->
<div class="friends-page"> 

<div class="search-container">
  <h2>Lista de Amigos</h2>
  <input type="text" id="searchInput" placeholder="Introduzca el nombre...">
</div>
<div class="friends-list">
  <div class="friend">
    <img src="/assets/chang.jpg" alt="Abraham Simpson">
    <a href="#">Abraham Simpson</a>
    <button class="delete-button">Eliminar amigo</button>
  </div>

  <div class="friend">
    <img src="/assets/chang.jpg" alt="Bart Simpson">
    <a href="#">Bart Simpson</a>
    <button class="delete-button">Eliminar amigo</button>
  </div>

  <div class="friend">
    <img src="/assets/chang.jpg" alt="Maggie Simpson">
    <a href="#">Maggie Simpson</a>
    <button class="delete-button">Eliminar amigo</button>
  </div>

  <div class="friend">
    <img src="/assets/chang.jpg" alt="Lisa Simpson">
    <a href="#">Lisa Simpson</a>
    <button class="delete-button">Eliminar amigo</button>
  </div>

  <div class="friend">
    <img src="/assets/chang.jpg" alt="Marge Simpson">
    <a href="#">Marge Simpson</a>
    <button class="delete-button">Eliminar amigo</button>
  </div>

  <div class="friend">
    <img src="/assets/chang.jpg" alt="Carl Carlson">
    <a href="#">Carl Carlson</a>
    <button class="delete-button">Eliminar amigo</button>
  </div>

  <div class="friend">
    <img src="/assets/chang.jpg" alt="Barney Gumble">
    <a href="#">Barney Gumble</a>
    <button class="delete-button">Eliminar amigo</button>
  </div>

  <div class="friend">
    <img src="/assets/chang.jpg" alt="Cletus Spuckler">
    <a href="#">Cletus Spuckler</a>
    <button class="delete-button">Eliminar amigo</button>
  </div>

  <div class="friend">
    <img src="/assets/chang.jpg" alt="Seymour Skinner">
    <a href="#">Seymour Skinner</a>
    <button class="delete-button">Eliminar amigo</button>
  </div>

  <div class="friend">
    <img src="/assets/chang.jpg" alt="Seymour Skinner">
    <a href="#">Seymour Skinner</a>
    <button class="delete-button">Eliminar amigo</button>
  </div>

</div>


<div class="search-container">
  <h2>Añadir Amigos</h2>
  <input type="text" id="searchInput" placeholder="Introduzca el nombre...">
</div>

<div class="friends-list">
  <div class="friend">
    <img src="/assets/chang.jpg" alt="Ralph Wiggum">
    <a href="#">Ralph Wiggum</a>
    <button class="add-friend-button">Enviar solicitud de amistad</button>
  </div>

  <div class="friend">
    <img src="/assets/chang.jpg" alt="Clancy Wiggum">
    <a href="#">Clancy Wiggum</a>
    <button class="add-friend-button">Enviar solicitud de amistad</button>
  </div>

</div>
</div>

</body>
</html>


