body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the side navigation */
  .sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }
  .red-bar {
    position: absolute;
    top: 0;
    right: 0px; /* Ajusta este valor según el grosor que desees para la barra */
    height: 100%;
    width: 8px; /* Ancho de la barra roja */
    background-color: #b30e0e;
  }
  
  
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color:  #b30e0e;
    color: black;
  }
  
  /* Style the content */
  .content {
    margin-left:3%;
    
  }

  .dropdown {
    position: relative;
    display: inline-block;
    width: 6%; 
  height: 6%; 
  }

  .imagenDropDown {
  margin-left: 10px;
  margin-top: 10px;
  width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
  height: 100%; /* La imagen ocupa el 100% del alto del contenedor */
  }
  
  .dropdown-content {
    display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }

  .dropdown:hover .dropdown-content {display: block;}

  
  /*Estilos del landing */
  .pagination {
    display: inline-block;
    text-align: center; /* Centrar horizontalmente */
    position: relative;
    margin-top: 3%;
    top: 95% ;
    left: 50% ;
    transform: translate(-50% , -50% );

}
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

  .barra-horizontal {
    background-color: #b30e0e;
    height: 4px; /* Ajusta la altura de la barra según sea necesario */
    width: 90%; /* O ajusta un ancho específico según tus necesidades */
    margin: 10px;
  }
  

  .usuarioConectado {
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
    border: 1px solid lightblue;
  }
  .imagenConectado{
    width: 30%; /* Ajusta el ancho de la imagen al 100% del div */
    height: auto;

  }
  .imagenPerfil{
    width: 50%; /* Ajusta el ancho de la imagen al 100% del div */
    height: auto;

  }

  /* NUEVO */
  .friends-page {
    padding-left: 20px;
  }
  .friends-list {
      max-height: 250px; 
      overflow-y: auto;  /* Enable vertical scrolling */
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
    }
  
    .friend {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
  
    .friend img {
      width: 50px; 
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }

    /* Styles for the search bar */
  .search-container {
    margin-bottom: 10px;
  }
  
  .search-container input[type=text] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  .move-right {
    margin-left: 100px;
  }
  .delete-button {
    margin-left: 50px; 
    background-color: #ff4d4d; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
  }

  /* Hover effect */
  .delete-button:hover {
    background-color: #ff6666; /* Darker red background color on hover */
  }

  .add-friend-button {
    margin-left: 50px; 
    background-color: #4CAF50;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
  }

  /* Hover effect */
  .add-friend-button:hover {
    background-color: #45a049; /* Darker green background color on hover */
  }

  