<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}


</style>
</head>




<body style="background-color: rgba(255, 255, 255, 0.822);">

  <div class="dropdown">
    <img class="imagenDropDown" src="/assets/chang.jpg">
    <div class="dropdown-content ">
      <div class="sidenav">
        <img src="/assets/chang.jpg" class="imagenPerfil" alt= "image" >
        <a href="#">Perfil</a>
        <a href="#">Ajustes</a>
        <a href="#">Amigos</a>
        <a href="#">Usuarios conectados.</a>
        <div class="usuarioConectado" >
          <img src="/assets/chang.jpg" class="imagenConectado" alt= "Foto Conectado" >
        </div>
        <div class="usuarioConectado" >
          <img src="/assets/chang.jpg" class="imagenConectado" alt= "Foto Conectado" >
        </div>
        <div class="usuarioConectado" >
          <img src="/assets/chang.jpg" class="imagenConectado" alt= "Foto Conectado" >
        </div>
      
        <div class="red-bar"></div>
      </div>
    </div>
    </div>


  
  
  <h2 style="position: absolute;
  top: 2% ;
  left: 50% ;
  transform: translate(-50% , -50% );">Unired</h2>
  <div style="margin-top: 10px;">
    
    
    <div class="content" >
      
    
    
    <p>Bienvenido.</p>
  
    <div class="publicacion" >
      <img src="/assets/chang.jpg" class="logo" alt="Foto Usuario." style="width: 100px; height: 100px;">
      <input type="hidden" class="publicacion" value="publicacion">
      <h2>Nombre Usuario <span class="nombreUsuario"></span></h2>
      <p>Tres tristes tigres picaban código en un teclado. <span class="mainPublicacion"></span></p>
    </div>
    <div class="barra-horizontal"></div>
  
    <div class="publicacion" >
      <img src="/assets/chang.jpg" class="logo" alt="Foto Usuario." style="width: 100px; height: 100px;">
      <input type="hidden" class="publicacion" value="publicacion">
      <h2>Nombre Usuario <span class="nombreUsuario"></span></h2>
      <p>Tres tristes tigres picaban código en un teclado. <span class="mainPublicacion"></span></p>
    </div>
    <div class="barra-horizontal"></div>
  
    <div class="publicacion" >
      <img src="/assets/chang.jpg" class="logo" alt="Foto Usuario." style="width: 100px; height: 100px;">
      <input type="hidden" class="publicacion" value="publicacion">
      <h2>Nombre Usuario <span class="nombreUsuario"></span></h2>
      <p>Tres tristes tigres picaban código en un teclado. <span class="mainPublicacion"></span></p>
    </div>
    <div class="barra-horizontal"></div>
  
    <div class="publicacion" >
      <img src="/assets/chang.jpg" class="logo" alt="Foto Usuario." style="width: 100px; height: 100px;">
      <input type="hidden" class="publicacion" value="publicacion">
      <h2>Nombre Usuario <span class="nombreUsuario"></span></h2>
      <p>Tres tristes tigres picaban código en un teclado. <span class="mainPublicacion"></span></p>
    </div>
    <div class="barra-horizontal"></div>
  
    <div class="publicacion" >
      <img src="/assets/chang.jpg" class="logo" alt="Foto Usuario." style="width: 100px; height: 100px;">
      <input type="hidden" class="publicacion" value="publicacion">
      <h2>Nombre Usuario <span class="nombreUsuario"></span></h2>
      <p>Tres tristes tigres picaban código en un teclado. <span class="mainPublicacion"></span></p>
    </div>
    <div class="barra-horizontal"></div>
  
    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#" >2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>

  </div>
  
</div>



</body>
</html>


