<!-- DROPDOWN --->
<div class="dropdown">
  <img class="imagenDropDown" src="../../assets/logoUnired.jpg" alt="image">
  <div class="dropdown-content ">
    <div class="sidenav">
      <div class="red-bar"></div>
      <img src="../../assets/logoUnired.jpg" class="imagenDropDown2" alt="image">
      <a class="opcionesDropDown" (click)="navegarMain()">Perfil</a>
      <a class="opcionesDropDown" (click)="navegarPAmigos()">Amigos</a>
      <a class="opcionesDropDown" (click)="navegarSettings()">Ajustes</a>
      <a class="opcionesDropDown">Usuarios conectados</a>
      <div class="contenedorUsuariosConectados">
        <div class="usuarioConectado">
          <img src="../../assets/ardilla.jpg" class="imagenConectadoDropDown" alt="Foto Conectado"
            (click)="navegarPerfilA()">

          <img src="../../assets/ardilla.jpg" class="imagenConectadoDropDown" alt="Foto Conectado"
            (click)="navegarPerfilA()">

          <img src="../../assets/ardilla.jpg" class="imagenConectadoDropDown" alt="Foto Conectado"
            (click)="navegarPerfilA()">



        </div>

      </div>
      <a class="opcionesDropDown" style="font-size: small; margin-top: 0.5%;" (click)="navegarLogin()">Cerrar cesión</a>



    </div>
  </div>
</div>
<!-- FIN DEL Dropdown --->

<h2 class="titulo">Unired
</h2>

<!-- PAGINA AMIGOS NUEVO-->
<div class="friends-page">

  <div class="search-container">
    Lista de Amigos
    <input type="text" id="searchInput" placeholder="Introduzca el nombre...">
  </div>

  <div class="friends-list">
    <div class="friend">
      <img src="../../assets/profile.jpg" alt="Abraham Simpson">
      <a href="#">Abraham Simpson</a>
      <button class="delete-button">Eliminar amigo</button>
    </div>

    <div class="friend">
      <img src="../../assets/profile.jpg" alt="Bart Simpson">
      <a href="#">Bart Simpson</a>
      <button class="delete-button">Eliminar amigo</button>
    </div>

    <div class="friend">
      <img src="../../assets/profile.jpg" alt="Maggie Simpson">
      <a href="#">Maggie Simpson</a>
      <button class="delete-button">Eliminar amigo</button>
    </div>

    <div class="friend">
      <img src="../../assets/profile.jpg" alt="Lisa Simpson">
      <a href="#">Lisa Simpson</a>
      <button class="delete-button">Eliminar amigo</button>
    </div>

    <div class="friend">
      <img src="../../assets/profile.jpg" alt="Marge Simpson">
      <a href="#">Marge Simpson</a>
      <button class="delete-button">Eliminar amigo</button>
    </div>

    <div class="friend">
      <img src="../../assets/profile.jpg" alt="Carl Carlson">
      <a href="#">Carl Carlson</a>
      <button class="delete-button">Eliminar amigo</button>
    </div>

    <div class="friend">
      <img src="../../assets/profile.jpg" alt="Barney Gumble">
      <a href="#">Barney Gumble</a>
      <button class="delete-button">Eliminar amigo</button>
    </div>

    <div class="friend">
      <img src="../../assets/profile.jpg" alt="Cletus Spuckler">
      <a href="#">Cletus Spuckler</a>
      <button class="delete-button">Eliminar amigo</button>
    </div>

    <div class="friend">
      <img src="../../assets/profile.jpg" alt="Seymour Skinner">
      <a href="#">Seymour Skinner</a>
      <button class="delete-button">Eliminar amigo</button>
    </div>

    <div class="friend">
      <img src="../../assets/profile.jpg" alt="Seymour Skinner">
      <a href="#">Seymour Skinner</a>
      <button class="delete-button">Eliminar amigo</button>
    </div>

  </div>


  <div class="search-container">
    Añadir Amigos
    <input type="text" id="searchInput" placeholder="Introduzca el nombre...">
  </div>

  <div class="friends-list">
    <div class="friend">
      <img src="../../assets/profile.jpg" alt="Ralph Wiggum">
      <a href="#">Ralph Wiggum</a>
      <button class="add-friend-button">Enviar solicitud de amistad</button>
    </div>

    <div class="friend">
      <img src="../../assets/profile.jpg" alt="Clancy Wiggum">
      <a href="#">Clancy Wiggum</a>
      <button class="add-friend-button">Enviar solicitud de amistad</button>
    </div>
  </div>
</div>