/*Estilos del popup*/



.nombrePublicacion{
  color:black;
  font-size: medium;
  /*margin-top: -0.75%;*/

  font-family: "../../assets/Roboto-Regular.ttf" ;
  font-weight: bold;
  font-size: larger;
}

.imagenPopup {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  max-width: 100%; /* Limita el ancho máximo al tamaño del contenedor */
  max-height: 95%; /* Limita la altura máxima al tamaño del contenedor */
  object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin deformarse */
  margin: 0; /* Elimina márgenes para que ocupe todo el espacio disponible */
}

.barra-horizontal {
  background-color: #b30e0e;
  position: relative;
  height: 3px; /* Ajusta la altura de la barra según sea necesario */
  width: 90%; /* O ajusta un ancho específico según tus necesidades */
  margin-left: 3%;
  z-index: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
 
.nombrePopup{
  color:black;
  font-size: medium;
  margin-top: -0.75%;
  font-family: "../../assets/Montserrat-Regular.ttf" ;
  font-weight: bold;
}
.comentarioPopup{
  margin-left: 1.5%;
  color: black;
  font-family:"../../assets/Montserrat-Regular.ttf"  ;
  font-size: small;
}


.contenedorComentariosGrande{
  width: 80%;
  background-color: aliceblue;
  height: 30%;
  max-height: 30%;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  
}
.usuarioComentariosPequeño {


  height: 90%;
  max-width: 100%;
  max-height: 100%;
  background-color: aliceblue;
  margin-top: 0.5%;
  margin-bottom: 5%;
  overflow-y: auto;
  overflow-x:hidden;/*Si no, al crecer las imágenes aparece y queda feo*/
}