<h2 mat-dialog-title class="nombrePublicacion">Título publicación.</h2>
<div class="barra-horizontal"></div>
<mat-dialog-content ><img src="../../assets/ardilla.jpg"  alt= "Foto Conectado" class="imagenPopup" ></mat-dialog-content>
<div class="barra-horizontal"></div>
<mat-dialog-content ><div class="contenedorComentariosGrande">
    <div class="contenedorComentariosPequeño">
        <div class="nombrePopup">Pepe</div>
        <div class="comentarioPopup">Comentario Pepe</div>
    </div>
    <div class="contenedorComentariosPequeño">
        <div class="nombrePopup">Pepe</div>
        <div class="comentarioPopup">Comentario Pepe</div>
    </div>
    <div class="contenedorComentariosPequeño">
        <div class="nombrePopup">Pepe</div>
        <div class="comentarioPopup">Comentario Pepe</div>
    </div>
    <div class="contenedorComentariosPequeño">
        <div class="nombrePopup">Pepe</div>
        <div class="comentarioPopup">Comentario Pepe</div>
    </div>
    <div class="contenedorComentariosPequeño">
        <div class="nombrePopup">Pepe</div>
        <div class="comentarioPopup">Comentario Pepe</div>
    </div>
   
</div></mat-dialog-content>
<div class="barra-horizontal" style="margin-bottom: 2%;"></div>

