

  html { background-color: aliceblue; }
  
   /* Estilos del DROPDOWN.*/
  .sidenav {
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }
  .red-bar {
    position: absolute;
    /*top: 0;*/
    right: 0px; /* Ajusta este valor según el grosor que desees para la barra */
    height: 100%;
    width: 8px; /* Ancho de la barra roja */
    background-color: #b30e0e;
  }
  
  
 
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color:  #b30e0e;
    color: black;
  }
  
  /* Style the content */
  .content {
    margin-left:3%;
    background-color: aliceblue;
    
  }

  .dropdown {
    position: fixed;
    display: inline-block;
    z-index: 10;
    width: 3%; 
  height: 3%; 
  background-color: aliceblue;
  }

  .imagenDropDown {
  width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
  height: 100%; /* La imagen ocupa el 100% del alto del contenedor */
  

  }
  .imagenDropDown2 {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto; /* La imagen ocupa el 100% del alto del contenedor */
    
  
    }



    .imagenConectadoDropDown{
      width:fit-content; /* Ajusta el ancho de la imagen al 100% del div */
      height: fit-content;
      cursor: pointer;
      transition: transform 0.3s ease;
      margin-bottom: 1.5%;
      max-width: 100%;
      max-height: 100%;
    }
    .imagenConectadoDropDown:hover{
      transform: scale(1.05);
    }
    .contenedorUsuariosConectados{
      width: 80%;
      background-color: #b30e0e;
      height: 30%;
      position: relative;
      margin-left: 10%;
      margin-right: 10%;
    }
    .usuarioConectado {
      display: inline-flex;
      flex-direction: column;
      
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      background-color: #b30e0e;
      padding-top: 1.5%;
      overflow-y: auto;
      overflow-x:hidden;/*Si no, al crecer las imágenes aparece y queda feo*/
    }
    .usuarioConectado::-webkit-scrollbar {
      width: 3px; 
      
    }
    
    .usuarioConectado::-webkit-scrollbar-track {
      background: #b30e0e; 
      border-radius: 10px; 
    }
    
    .usuarioConectado::-webkit-scrollbar-thumb {
      background: #f1f1f1 ; 
      border-radius: 10px; 
      
    }
    
    .usuarioConectado::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

    /*.nombreUsuarioConectado{
      margin-left: 1%;
      font-family:"../../assets/Roboto-Regular.ttf"  ;
      font-size:xx-small;
      font-weight: bold;
    }*/
   

  
  .dropdown-content {
    display: none;
  position: absolute;

  z-index: 10;
  top : 0%;
  background-color: aliceblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 
  }
  .opcionesDropDown{
    font-family:"../../assets/Roboto-Regular.ttf"  ;
  }
  

  .dropdown:hover .dropdown-content {display: block;}

  
  /*Estilos del landing */
  
  .titulo {
    position: relative;
    font-family:"../../assets/Roboto-Regular.ttf"  ;
    font-weight: bolder;
    color: black;
    /*top: 2% ;*/
    margin-left: 47% ;
    /*transform: translate(-50% , -50% );*/
    margin-bottom: 2%;
    
    background-color: aliceblue;
  }
  
  .pagination {
    display: inline-block;
    text-align: center; /* Centrar horizontalmente */
    position: relative;
    margin-top: 3%;
    top: 95% ;
    left: 50% ;
    transform: translate(-50% , -50% );

}
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #b30e0e;
    border-radius: 5px;
  }

  .barra-horizontal {
    background-color: #b30e0e;
    position: relative;
    height: 4px; /* Ajusta la altura de la barra según sea necesario */
    width: 90%; /* O ajusta un ancho específico según tus necesidades */
    margin: 1,5%;
    z-index: 0;
  }
  
  /*Estilos del resumen de Perfil "RP"*/
  .nombreUsuarioRP{
    font-family:"../../assets/Roboto-Regular.ttf"  ;
    
  }
  
  .resumenPerfil{
    position: sticky;
    display: flex;
    align-items: center;
    
    z-index: 1;
    top : 0%;
    background-color: aliceblue;
    opacity: 100%;
    margin-right: 10%;
  }

  .divTextosRP{
    margin-left: 0.75%;
    margin-top: 1.1%;
    margin-bottom: 0.5%;

  }

  .imagenRP{
    width: 10%;
    height: 30%;
    margin-top: 0.25%;
    margin-bottom: 0.25%;
    
      }

    .imagenSubirContenidoRP{
      width: 3%;
    height: 3%;
    margin-top: 0.25%;
    margin-bottom: 0.25%;
    cursor: pointer;
      transition: transform 0.3s ease;
    }
    .imagenSubirContenidoRP:hover{
      transform: scale(1.20);
    }

 
 
  
  .mainRP{
    max-width: 45%;
    
  }
  .textoMainRP{
    font-family: "../../assets/Montserrat-Regular.ttf" ;
  }

  /*Estilos Contenido Amigos "CA" */
  
  .publicacionCA{
    position: relative;
    z-index: 0;
  }
  .imagenCA{
    width: 5%;
    cursor: pointer;
    transition: transform 0.3s ease;
  height: 10%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  
    }
    .imagenCA:hover{
      transform: scale(1.10);
    }
   
  .nombreCA{
    color:black;
    cursor: pointer;
    font-size: medium;
    margin-top: -0.75%;
    font-family: "../../assets/Montserrat-Regular.ttf" ;
    font-weight: bold;
  }
  .comentarioCA{
    margin-left: 1.5%;
    color: black;
    font-family:"../../assets/Montserrat-Regular.ttf"  ;
    font-size: small;
  }
  .comentaristaCA{
    margin-left: 1%;
    color: black;
    font-family:"../../assets/Roboto-Regular.ttf"  ;
    font-size: small;
    font-weight: bold;
  }
  /*.divCA{
    

  }*/


  /*Estilos de imágenes*/
  

 

  
  
  

  