






<!-- DROPDOWN --->
  <div class="dropdown">
    <img class="imagenDropDown" src="../../assets/logoUnired.jpg"  alt= "image">
    <div class="dropdown-content ">
      <div class="sidenav">
        <div class="red-bar"></div>
        <img src="../../assets/logoUnired.jpg" class="imagenDropDown2" alt= "image" >
        <a class="opcionesDropDown">Perfil</a>
        <a class="opcionesDropDown">Amigos</a>
        <a class="opcionesDropDown">Ajustes</a>
        <a class="opcionesDropDown">Usuarios conectados</a>
        <div class="contenedorUsuariosConectados">
          <div class="usuarioConectado" >
            <img src="../../assets/ardilla.jpg" class="imagenConectadoDropDown" alt= "Foto Conectado" >
            
            <img src="../../assets/ardilla.jpg" class="imagenConectadoDropDown" alt= "Foto Conectado" >
            
            <img src="../../assets/ardilla.jpg" class="imagenConectadoDropDown" alt= "Foto Conectado" >
            
            
            
          </div>
          
        </div>
        <a class="opcionesDropDown" style="font-size: small; margin-top: 0.5%;">Cerrar cesión</a>
        
      
        
      </div>
    </div>
    </div>
    <!-- FIN DEL Dropdown --->

  
  
  <h2 class="titulo">Unired</h2>
  <div style="margin-top: 2%; background-color: aliceblue;">
    
    <!-- Contenedor del perfil del usuario. --->
    <div class="content" >
    
    <div class="resumenPerfil" >
      <img src="../../assets/gato.jpg" class="imagenRP" alt="Foto Perfil." >
      <input type="hidden" class="publicacion" value="publicacion">
      <div class="divTextosRP">
      <h2 class="nombreUsuarioRP">Lorem Gatum </h2>
      <div class="mainRP">
        <p class="textoMainRP">Hola Mundo! Aquí una breve descripción de mi perfil.</p>
      </div>
      <img src="../../assets/plus.jpeg" class="imagenSubirContenidoRP" alt="Foto Plus" (click)="openSubir()" >
      

      </div>
      
    </div>
    
   
      
    <div class="barra-horizontal"></div>
    
    
    <div class="publicacionCA"  >
      <img src="../../assets/ardilla.jpg"  class="imagenCA" alt="Foto Usuario." (click)="openDialogInicio()"  >
      <h2 class="nombreCA">Nombre Usuario <span></span></h2>
      <p class=comentaristaCA>Pepito</p>
      <p class="comentarioCA">Este es un comentario en la publicación de mi amigo.</p>
      <p class=comentaristaCA>Fulanito</p>
      <p class="comentarioCA">Este es un comentario corto.</p>
      <p class=comentaristaCA>Menganito</p>
      <p class="comentarioCA">Este es un comentario en la publicación de mi amigo muy muy pero que muy largo en comparación con lo que suele ser un comentario corriente. Muestra que como quedaría la distribución.</p>
    </div>
    <div class="barra-horizontal"></div>
  
    <div class="publicacionCA"  >
      <img src="../../assets/ardilla.jpg"  class="imagenCA" alt="Foto Usuario." (click)="openDialogInicio()"   >
      <h2 class="nombreCA">Nombre Usuario <span></span></h2>
      <p class=comentaristaCA>Pepito</p>
      <p class="comentarioCA">Este es un comentario en la publicación de mi amigo.</p>
      <p class=comentaristaCA>Fulanito</p>
      <p class="comentarioCA">Este es un comentario corto.</p>
      <p class=comentaristaCA>Menganito</p>
      <p class="comentarioCA">Este es un comentario en la publicación de mi amigo muy muy pero que muy largo en comparación con lo que suele ser un comentario corriente. Muestra que como quedaría la distribución.</p>
    </div>
    <div class="barra-horizontal"></div>
  
    <div class="publicacionCA"  >
      <img src="../../assets/ardilla.jpg"  class="imagenCA" alt="Foto Usuario." (click)="openDialogInicio()"  >
      <h2 class="nombreCA">Nombre Usuario <span></span></h2>
      <p class=comentaristaCA>Pepito</p>
      <p class="comentarioCA">Este es un comentario en la publicación de mi amigo.</p>
      <p class=comentaristaCA>Fulanito</p>
      <p class="comentarioCA">Este es un comentario corto.</p>
      <p class=comentaristaCA>Menganito</p>
      <p class="comentarioCA">Este es un comentario en la publicación de mi amigo muy muy pero que muy largo en comparación con lo que suele ser un comentario corriente. Muestra que como quedaría la distribución.</p>
    </div>
    <div class="barra-horizontal"></div>
  
    <div class="publicacionCA"  >
      <img src="../../assets/ardilla.jpg"  class="imagenCA" alt="Foto Usuario." (click)="openDialogInicio()"   >
      <h2 class="nombreCA">Nombre Usuario <span></span></h2>
      <p class=comentaristaCA>Pepito</p>
      <p class="comentarioCA">Este es un comentario en la publicación de mi amigo.</p>
      <p class=comentaristaCA>Fulanito</p>
      <p class="comentarioCA">Este es un comentario corto.</p>
      <p class=comentaristaCA>Menganito</p>
      <p class="comentarioCA">Este es un comentario en la publicación de mi amigo muy muy pero que muy largo en comparación con lo que suele ser un comentario corriente. Muestra que como quedaría la distribución.</p>
    </div>
    <div class="barra-horizontal"></div>
  
    <div class="publicacionCA"  >
      <img src="../../assets/ardilla.jpg"  class="imagenCA" alt="Foto Usuario." (click)="openDialogInicio()"   >
      <h2 class="nombreCA">Nombre Usuario <span></span></h2>
      <p class=comentaristaCA>Pepito</p>
      <p class="comentarioCA">Este es un comentario en la publicación de mi amigo.</p>
      <p class=comentaristaCA>Fulanito</p>
      <p class="comentarioCA">Este es un comentario corto.</p>
      <p class=comentaristaCA>Menganito</p>
      <p class="comentarioCA">Este es un comentario en la publicación de mi amigo muy muy pero que muy largo en comparación con lo que suele ser un comentario corriente. Muestra que como quedaría la distribución.</p>
    </div>
    <div class="barra-horizontal"></div>

    <div class="publicacionCA"  >
      <img src="../../assets/ardilla.jpg"  class="imagenCA" alt="Foto Usuario." (click)="openDialogInicio()"   >
      <h2 class="nombreCA">Nombre Usuario <span></span></h2>
      <p class=comentaristaCA>Pepito</p>
      <p class="comentarioCA">Este es un comentario en la publicación de mi amigo.</p>
      <p class=comentaristaCA>Fulanito</p>
      <p class="comentarioCA">Este es un comentario corto.</p>
      <p class=comentaristaCA>Menganito</p>
      <p class="comentarioCA">Este es un comentario en la publicación de mi amigo muy muy pero que muy largo en comparación con lo que suele ser un comentario corriente. Muestra que como quedaría la distribución.</p>
    </div>
    <div class="barra-horizontal"></div>
  
    <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#" >2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>

  </div>
  
</div>








